{% layout 'layout.liquid' %}
{% block content %}
    <h1 class="display-4">Welcome To The Exotic Cookies App</h1>
    <div class="btn-group btn-group-lg">
        <a href="/users/signup" class="btn btn-light">Sign Up</a>
        <a href="/users/login" class="btn btn-light">Login</a>
    </div>
    {{ "now" | date: "%Y-%m-%d %H:%M" }}
{% endblock %}
