{% layout 'layout.liquid' %}
{% block content %}

    <div class="container-sm">
        <h2>Are you sure you would like to log out?</h2>
        <div class="btn-group">
            <a class="btn btn-warning" href="/cookies">No, back to exoCookies</a>
            <form action="/users/logout?_method=DELETE" method="POST">
                <input class="btn btn-danger" type="submit" value="Log Out">
            </form>
        </div>
    </div>

{% endblock %}